/target
/dist

# Local WASM testing (copied assets for python http server)
docs/assets/
docs/fonts/
docs/levels/
docs/textures/
docs/mq_js_bundle.js

# Copyrighted PS1 model references (not for distribution)
assets/meshes/ps1-reference/

# macOS
.DS_Store

# Personal notes
notes
