/target
/dist

# Local WASM testing (copied assets for python http server)
docs/assets/
docs/fonts/
docs/levels/
docs/textures/

# Copyrighted PS1 model references (not for distribution)
assets/meshes/ps1-reference/
