(
  name: "test_humanoid",
  segments: [
    (
      name: "torso",
      joints: [
        (position: (x: 0.0, y: 0.0, z: 0.0), radius: 15.0),
        (position: (x: 0.0, y: 25.0, z: 0.0), radius: 20.0),
        (position: (x: 0.0, y: 50.0, z: -5.0), radius: 21.5),
        (position: (x: 0.0, y: 70.0, z: -5.0), radius: 18.0),
        (position: (x: 0.0, y: 85.0, z: -0.0), radius: 14.0),
        (position: (x: 0.0, y: 100.0, z: 0.0), radius: 15.0),
        (position: (x: 0.0, y: 125.0, z: 0.0), radius: 12.0),
      ],
      sides: 4,
      cap_start: false,
      cap_end: false,
    ),
    (
      name: "torso_copy",
      joints: [
        (position: (x: 50.0, y: 0.0, z: 0.0), radius: 15.0),
        (position: (x: 50.0, y: 25.0, z: 0.0), radius: 20.0),
        (position: (x: 50.0, y: 50.0, z: -5.0), radius: 21.5),
        (position: (x: 50.0, y: 70.0, z: -5.0), radius: 18.0),
        (position: (x: 50.0, y: 85.0, z: 0.0), radius: 14.0),
        (position: (x: 50.0, y: 100.0, z: -0.0), radius: 15.0),
        (position: (x: 50.0, y: 125.0, z: 0.0), radius: 12.0),
      ],
      sides: 4,
      cap_start: false,
      cap_end: false,
    ),
    (
      name: "segment_2",
      joints: [
        (position: (x: 100.0, y: -5.0, z: 0.0), radius: 15.0),
        (position: (x: 100.0, y: 30.0, z: 0.0), radius: 15.0),
      ],
      sides: 8,
      cap_start: true,
      cap_end: true,
    ),
  ],
)